* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 50px 30px;
}

.links{
    display: flex;
    gap: 15px;
}

.admin-btn {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0d66f6;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.admin-btn:hover {
    background-color: #0d50bd;;
}

.admin-btn-div {
    display: flex;
    justify-content: center;
}