{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'user_page/login.css' %}">
</head>
<body>
   <div class="login-page">
    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2 class="login-title">{% trans 'Login' %}</h2>
            <div class="product-form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="product-form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="login-button">{% trans 'Login' %}</button>
            <div class="register-btn"><a href="{% url 'register' %}">{% trans "Don't have an account? Register here" %}</a></div>
        </form>
    </div>
</div>
</body>
</html>