{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Page</title>
    <link rel="stylesheet" href="{% static 'user_page/login.css' %}">
</head>
<body>
   <div class="login-page">
    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2 class="login-title">Change Password</h2>
            <div class="product-form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="login-button">Change Password</button>
            <a href="{% url 'profile_details' %}" class="cancel-btn">Back to Profile</a>
        </form>
    </div>
</div>
</body>
</html>