{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'user_page/login.css' %}">
</head>
<body>
   <div class="login-page">
    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2 class="login-title">{% trans 'Register' %}</h2>

            {% for field in form %}
            <div class="product-form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div style="color: red; font-size: 0.9em;">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="login-button">{% trans 'Register' %}</button>
            <div class="register-btn"><a href="{% url 'login' %}">{% trans 'Already have an account? Login here' %}</a></div>
        </form>
    </div>
</div>
</body>
</html>
