{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_style.css' %}">
    <title>Main Page</title>
</head>
<body>
    {% if user_authenticated %}
        <a href="{% url 'orders_create_view' %}">Create order</a>
            <div class="orders">
            {% for order in orders %}
                <h2>Id: {{ order.id }}</h2>
                <h2>Created at: {{ order.order_date }}</h2>
                <h2>Address: {{ order.order_address }}</h2>
                <h2>Payment method: {{ order.payment_method }}</h2>
                <h2>Status: {{ order.order_status }}</h2>
                <h2>Client: {{ order.client }}</h2>
                <h2>Employee: {{ order.employee }}</h2>
                <h2>Shipper: {{ order.shipper }}</h2>
                <h2>Version: {{ order.order_version }}</h2>

                <h2>Products from order: </h2>
                <h2>----------------------</h2>
                {% for order_product in order_products %}
                    {% if order_product.order_id == order.id %}
                        <h2>ID: {{ order_product.product_id }} ->Name: {{ order_product.product.name }} ->Quantity: {{ order_product.quantity }}</h2> 
                    {% endif %}
                {% endfor %}
                <h2>----------------------</h2>
            <a href="{% url 'orders_update_view' pk=order.id%}">Update order</a>
            <a href="{% url 'orders_delete_view' pk=order.id%}">Delete order</a>
        {% endfor %}
            </div>
    {% endif %}
</body>
</html>
