{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'products_page/products.css' %}">
    <link rel="stylesheet" href="{% static 'lucide_icons.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Products View</title>
</head>
<body>
    {% if user_authenticated %}

<div class="sidebar">
  <div class="sidebar-logo">Technocenter OOD</div>
  <div class="top-and-bottom-navigations">
      <nav class="sidebar-menu">
        <a class="sidebar-link" href="{% url 'index' %}"><i data-lucide="home" class="icon"></i> {% trans 'Home' %}</a>
        <a class="sidebar-link" href="{% url 'orders_view' %}"><i data-lucide="clipboard-list" class="icon"></i> {% trans 'Orders' %}</a>
        <a class="sidebar-link active" href="{% url 'products_view' %}"><i data-lucide="package" class="icon"></i> {% trans 'Products' %}</a>
        <a class="sidebar-link" href="{% url 'employees_view' %}"><i data-lucide="users" class="icon"></i>{% trans 'Employees' %}</a>
        <a class="sidebar-link" href="{% url 'clients_view' %}"><i data-lucide="user" class="icon"></i>{% trans 'Clients' %}</a>
        <a class="sidebar-link" href="{% url 'shippers_view' %}"><i data-lucide="truck" class="icon"></i>{% trans 'Shippers' %}</a>
        <a class="sidebar-link" href="{% url 'vendors_view' %}"><i data-lucide="briefcase" class="icon"></i>{% trans 'Vendors' %}</a>
        <a class="sidebar-link" href="{% url 'companies_view' %}"><i data-lucide="building-2" class="icon"></i>{% trans 'Companies' %}</a>
        <a class="sidebar-link" href="{% url 'invoices_view' %}"><i data-lucide="file-text" class="icon"></i>{% trans 'Invoices' %}</a>
      </nav>

      <div class="sidebar-nav-bottom">
        <a class="sidebar-link" href="{% url 'profile_details' %}"><i data-lucide="user-circle" class="icon"></i>{% trans 'Profile' %}</a>
        <a class="sidebar-link" href="{% url 'logout' %}"><i data-lucide="log-out" class="icon"></i>{% trans 'Log out' %}</a>
      </div>
    </div>

</div>

<div class="main-container">
    <div class="search-create-container">
      <form>
        <input type="text" name="q" placeholder="{% trans 'Search by product name or vendor' %}" value="{{ request.GET.q }}">
        <button type="submit">{% trans 'Search' %}</button>
      </form>
        
      <a href="{% url 'products_create_view' %}" class="create-btn">{% trans 'Create Product' %}</a>
    </div>

<div class="product-header-row">
  <div class="product-left">{% trans 'Product' %}</div>
  <div class="product-right">{% trans 'Actions' %}</div>
</div>


  <div class="product-row-list">
  {% for product in products %}
    <div class="product-row" onclick="window.location.href='{% url 'products_details_view' pk=product.id %}'">
      <div class="product-left">
        <div class="product-info">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-sku">#{{ product.id }}</p>
        </div>
      </div>

      <div class="product-right">
        <a href="{% url 'products_update_view' product.id %}" class="btn-edit">
          <i data-lucide="edit-3"></i> {% trans 'Edit' %}
        </a>
        <a href="{% url 'products_delete_view' product.id %}" class="btn-delete">
          <i data-lucide="trash-2"></i> {% trans 'Delete' %}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
</div>


    {% endif %}
</body>
</html>

<script>
  lucide.createIcons();
</script>
