<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoices Report</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    {% if user_authenticated %}
        <a href="{% url 'invoices_view' %}">Back to invoices</a>
        
        <form method="get">
            {{ filter_form.as_p }}
            <button type="submit">Filter</button>
        </form>
        <p>-----------------------------------------</p>
        <h2>Total invoices: {{ total_invoices }}</h2>
        <h2>Total active invoices: {{ total_active_invoices }}</h2>
        <h2>Total price with dds: {{ total_sum_with_dds }}</h2>
        <h2>Total price without dds: {{ total_sum_without_dds }}</h2>
        <h2>Total dds: {{ total_dds }}</h2>
        <p>-----------------------------------------</p>
        {% for invoice in invoices %}
            <div class="invoice">
            <h2>{{ invoice }}</h2>
            <h2>Active status: {% if not invoice.cancelled %}
                                    Active
                                {% else %}
                                    Cancelled
                               {% endif %}
            </h2>
            <h2>--------------------------</h2>
            <h2>Supplier information</h2>
            <h2>supplier eik: {{ invoice.supplier_eik }}</h2>
            <h2>supplier dds: {{ invoice.supplier_dds }}</h2>
            <h2>supplier name: {{ invoice.supplier_name }}</h2>
            <h2>supplier_address: {{ invoice.supplier_address }}</h2>
            <h2>supplier_mol: {{ invoice.supplier_mol }}</h2>
            <h2>supplier_phone_number: {{ invoice.supplier_phone_number }}</h2>
            <h2>supplier_email: {{ invoice.supplier_email }}</h2>
            <h2>--------------------------</h2>
            <h2>Invoice details</h2>
            <h2>DDS: {{ invoice.DDS }}</h2>
            <h2>date: {{ invoice.date }}</h2>
            <h2>comment: {{ invoice.comment }}</h2>
            <h2>whole_price_without_dds: {{ invoice.whole_price_without_dds }}</h2>
            <h2>whole_price_with_dds: {{ invoice.whole_price_with_dds }}</h2>
            <h2>discount: {{ invoice.discount }}%</h2>
            <h2>--------------------------</h2>
            <h2>Company: {{ invoice.company }}</h2>
            <h2>Order: {{ invoice.order }}</h2>
            <h2>--------------------------------------------------------------------</h2>
            </div>
        {% endfor %}

    {% endif %}
</body>
</html>

<script>
    $(document).ready(function() {
      $('#id_company, #id_order').select2();
  });
</script>