{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_style.css' %}">
    <title>Main Page</title>
</head>
<body>
    {% if user_authenticated %}
        <a href="{% url 'invoices_add_view' %}">Create invoice</a>
        {% for invoice in invoices %}
            <div class="invoice">
            <h2>{{ invoice }}</h2>
            <h2>--------------------------</h2>
            <h2>Supplier information</h2>
            <h2>supplier eik: {{ invoice.supplier_eik }}</h2>
            <h2>supplier dds: {{ invoice.supplier_dds }}</h2>
            <h2>supplier name: {{ invoice.supplier_name }}</h2>
            <h2>supplier_address: {{ invoice.supplier_address }}</h2>
            <h2>supplier_mol: {{ invoice.supplier_mol }}</h2>
            <h2>supplier_phone_number: {{ invoice.supplier_phone_number }}</h2>
            <h2>supplier_email: {{ invoice.supplier_email }}</h2>
            <h2>--------------------------</h2>
            <h2>Invoice details</h2>    
            <h2>DDS: {{ invoice.DDS }}</h2>
            <h2>date: {{ invoice.date }}</h2>
            <h2>comment: {{ invoice.comment }}</h2>  
            <h2>whole_price_without_dds: {{ invoice.whole_price_without_dds }}</h2>    
            <h2>whole_price_with_dds: {{ invoice.whole_price_with_dds }}</h2>    
            <h2>discount: {{ invoice.discount }}%</h2>
            <h2>--------------------------</h2> 
            <h2>Company: {{ invoice.company }}</h2>
            <h2>Order: {{ invoice.order }}</h2>    
            <a href="{% url 'invoices_update_view' pk=invoice.id%}">Update invoice</a>
            <a href="{% url 'invoices_delete_view' pk=invoice.id %}">Remove invoice</a>
            <h2>--------------------------------------------------------------------</h2>
            </div>
        {% endfor %}

    {% endif %}
</body>
</html>