.restricted-div {
    display: flex;
    justify-content: center;
}

.restricted-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    text-align: center;
}