.main-content{
    margin-left: 15.75rem;
    padding: 3px;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
  margin: 0;
  padding: 0;
}

.main-content h1 {
    text-align: center;
    color: #1e293b;
    padding: 1.6rem;
}

.cards-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  border-radius: 20px;
  padding: 1.6rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border: 1px solid #e2e8f0;
  width: 280px;
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-2px);
}

.stat-icon {
  background: #3b82f6; /* blue */
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon i {
  color: white;
  width: 20px;
  height: 20px;
}

.stat-info .stat-title {
  font-size: 1.2rem;
  color: #6b7280;
}

.stat-info .stat-value {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
}

.stat-change {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.stat-change.positive {
  color: #22c55e;
}

.stat-change span {
  color: #9ca3af;
  margin-left: 0.25rem;
}

.orders-chart-container {
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.orders-chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

.chart-title {
  /*font-size: 1.5rem;*/
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #1e293b;
}

.order-table-container {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 3rem auto;
  max-width: 1200px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table-header h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1e293b;
}

.view-all-btn {
  background-color: #0ea5e9;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.view-all-btn:hover {
  background-color: #0284c7;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.order-table thead {
  background-color: #f1f5f9;
}

.order-table th,
.order-table td {
  color: #1e293b;
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
}

.status-pill {
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.status-pill.delivered {
  background-color: #16a34a;
}
.status-pill.pending {
  background-color: #facc15;
  color: #1e293b;
}
.status-pill.canceled {
  background-color: #ef4444;
}

.clickable-row {
  cursor: pointer;
  transition: background 0.15s;
}

.clickable-row:hover {
  background-color: #f1f5f9;
}

