{#{% extends 'index.html' %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="{% static 'invoices_page/add_invoice.css' %}">
</head>
<body>
<div id="main-div" style="display: flex;">

    <div id="form-div">
        <h2>Create Invoice</h2>
        <form method="post">
          {% csrf_token %}

            <div class="form-group">
            <label for="id_company">Company:</label>
            {{ form.company }}
          </div>

          <div class="form-group">
            <label for="id_order">Order:</label>
            {{ form.order }}
          </div>

          <div class="form-group">
            <label for="id_DDS">VAT:</label>
            {{ form.DDS }}
          </div>

          <div class="form-group">
            <label for="id_comment">Comment (Optional):</label>
            {{ form.comment }}
          </div>

          <div class="form-group">
            <label for="id_discount">Discount(%) (Optional):</label>
            {{ form.discount }}
          </div>

          <div class="form-group">
            <label for="price_without_dds">Whole Price (without VAT):</label>
            {{ form.whole_price_without_dds }}
          </div>

          <div class="form-group">
            <label for="price_with_dds">Whole Price (with VAT):</label>
            {{ form.whole_price_with_dds }}
          </div>

          <div class="form-actions">
            <button id="submit_btn" type="submit" class="submit-btn">Create Invoice</button>
            <a id="cancel_btn" href="{% url 'invoices_view' %}" class="cancel-btn">Cancel Creation</a>
          </div>
        </form>

    </div>

    <div id="company-div">
        <a href="{% url 'companies_add_view' %}?next={% url 'invoices_add_view' %}">Add new company</a>
        <h4>Company</h4>
        <p id="company_database_name_p">-</p>
        <h4>Company id</h4>
        <p id="company_id_p">-</p>
        <h4>Company eik</h4>
        <p id="company_eik_p">-</p>
        <h4>Company vat</h4>
        <p id="company_dds_p">-</p>
        <h4>Company name</h4>
        <p id="company_name_p">-</p>
        <h4>Company address</h4>
        <p id="company_address_p">-</p>
        <h4>Company mol</h4>
        <p id="company_mol_p">-</p>
        <h4>Company recipient</h4>
        <p id="company_recipient_p">-</p>
    </div>

    <div id="order-div">
        <a href="{% url 'orders_create_view' %}?next={% url 'invoices_add_view' %}">Create New Order</a>
        <h4>Order</h4>
        <p id="order_id_p">-</p>
        <h4>Order price</h4>
        <p id="order_price_p">-</p>
        <h4>Order products</h4>
        <p id="order_products_p">-</p>
        <h4>Order payment method</h4>
        <p id="order_payment_method_p">-</p>
        <h4>Order status</h4>
        <p id="order_status_p">-</p>
        <h4>Order address</h4>
        <p id="order_address_p">-</p>
        <h4>Order version</h4>
        <p id="order_version_p">-</p>
        <h4>Order client</h4>
        <p id="order_client_p">-</p>
        <h4>Order employee</h4>
        <p id="order_employee_p">-</p>
        <h4>Order shipper</h4>
        <p id="order_shipper_p">-</p>
    </div>

</div>
</body>
</html>

{# select2 setup #}
{% block scripts %}
<script>
    $("#id_company").select2({
        placeholder: "Select Company",
    });
    $("#id_order").select2({
        placeholder: "Select Order",
    });
</script>
<script src="{% static 'javascript/invoice_js/select_order.js' %}"></script>
<script src="{% static 'javascript/invoice_js/load_company_values.js' %}"></script>
<script src="{% static 'javascript/invoice_js/load_order_values.js' %}"></script>
<script src="{% static 'javascript/invoice_js/load_invoice_local_storage.js' %}"></script>
<script src="{% static 'javascript/invoice_js/load_newly_created_company.js' %}"></script>
<script src="{% static 'javascript/invoice_js/load_newly_created_order.js' %}"></script>
{% endblock %}


