{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'clients_page/clients.css' %}">
    <link rel="stylesheet" href="{% static 'details.css' %}">
    <link rel="stylesheet" href="{% static 'lucide_icons.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Invoice Details</title>
</head>
<body>
{% if user_authenticated %}
<div class="sidebar">
  <div class="sidebar-logo">Technocenter OOD</div>
  <div class="top-and-bottom-navigations">
      <nav class="sidebar-menu">
        <a class="sidebar-link" href="{% url 'index' %}"><i data-lucide="home" class="icon"></i> Home</a>
        <a class="sidebar-link" href="{% url 'orders_view' %}"><i data-lucide="clipboard-list" class="icon"></i> Orders</a>
        <a class="sidebar-link" href="{% url 'products_view' %}"><i data-lucide="package" class="icon"></i>Products</a>
        <a class="sidebar-link" href="{% url 'employees_view' %}"><i data-lucide="users" class="icon"></i>Employees</a>
        <a class="sidebar-link" href="{% url 'clients_view' %}"><i data-lucide="user" class="icon"></i>Clients</a>
        <a class="sidebar-link" href="{% url 'shippers_view' %}"><i data-lucide="truck" class="icon"></i>Shippers</a>
        <a class="sidebar-link" href="{% url 'vendors_view' %}"><i data-lucide="briefcase" class="icon"></i>Vendors</a>
        <a class="sidebar-link" href="{% url 'companies_view' %}"><i data-lucide="building-2" class="icon"></i>Companies</a>
        <a class="sidebar-link active" href="{% url 'invoices_view' %}"><i data-lucide="file-text" class="icon"></i>Invoices</a>
      </nav>

      <div class="sidebar-nav-bottom">
        <a class="sidebar-link" href="{% url 'profile_details' %}"><i data-lucide="user-circle" class="icon"></i>Profile</a>
        <a class="sidebar-link" href="{% url 'logout' %}"><i data-lucide="log-out" class="icon"></i>Log out</a>
      </div>
    </div>

</div>

<div class="main-content">
  <div class="client-details-container">
    <div class="client-details-title">
        Invoice Details

        <div class="client-right">
        <a href="{% url 'invoices_update_view' pk=invoice.id %}" class="btn-edit">
          <i data-lucide="edit-3"></i> Edit
        </a>
        <a href="{% url 'invoices_delete_view' pk=invoice.id %}" class="btn-delete">
          <i data-lucide="trash-2"></i> Delete
        </a>
      </div>

    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">ID</span>
      <span class="client-detail-value">{{ invoice }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Company</span>
      <span class="client-detail-value"><a href="{% url 'companies_details_view' pk=invoice.company.id%}">{{ invoice.company }}</a></span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Order</span>
      <span class="client-detail-value"><a href="{% url 'orders_details_view' pk=invoice.order.id%}">{{ invoice.order }}</a></span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">DDS</span>
      <span class="client-detail-value">{{ invoice.DDS }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Date</span>
      <span class="client-detail-value">{{ invoice.date }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Discount</span>
      <span class="client-detail-value">{{ invoice.discount }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Status</span>
      <span class="client-detail-value">{% if not invoice.cancelled %} Active {% else %} Cancelled {% endif %}</span>
    </div>

   <div class="client-detail-row">
      <span class="client-detail-label">Whole Price Without dds</span>
      <span class="client-detail-value">{{ invoice.whole_price_without_dds }}</span>
   </div>

  <div class="client-detail-row">
      <span class="client-detail-label">Whole Price With dds</span>
      <span class="client-detail-value">{{ invoice.whole_price_with_dds }}</span>
  </div>

  <div class="client-detail-row-notes">
      <span class="client-detail-label">Comment</span>
      <span class="client-detail-value">{{ invoice.comment }}</span>
  </div>
  </div>

<div class="client-details-container">
    <div class="client-details-title">
        Order From Invoice Details

        <div class="client-right">
        <a href="{% url 'orders_update_view' pk=invoice.order.id %}" class="btn-edit">
          <i data-lucide="edit-3"></i> Edit
        </a>
        <a href="{% url 'orders_delete_view' pk=invoice.order.id %}" class="btn-delete">
          <i data-lucide="trash-2"></i> Delete
        </a>
      </div>

    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">ID</span>
      <span class="client-detail-value">{{ invoice.order }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Date</span>
      <span class="client-detail-value">{{ invoice.order.order_date }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Address</span>
      <span class="client-detail-value">{{ invoice.order.order_address }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Raw Price</span>
      <span class="client-detail-value">{{ invoice.order.order_price }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Payment Method</span>
      <span class="client-detail-value">{{ invoice.order.payment_method }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Status</span>
      <span class="client-detail-value">{{ invoice.order.order_status }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Client</span>
      <span class="client-detail-value"><a href="{% url 'clients_details_view' pk=invoice.order.client.id%}">{{ invoice.order.client }}</a></span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Employee</span>
      <span class="client-detail-value"><a href="{% url 'employees_details_view' pk=invoice.order.employee.id%}">{{ invoice.order.employee }}</a></span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Shipper</span>
      <span class="client-detail-value"><a href="{% url 'shippers_details_view' pk=invoice.order.shipper.id%}">{{ invoice.order.shipper }}</a></span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Version</span>
      <span class="client-detail-value">{{ invoice.order.order_version }}</span>
    </div>

    <div class="client-detail-row-notes">
      <span class="client-detail-label">Products:</span>
        {% for order_product in order_products %}
            {% if order_product.order_id == invoice.order.id %}
                <span class="client-detail-value"><a href="{% url 'products_details_view' pk=order_product.product.id%}">{{ order_product.product.name }}</a> : <b>{{ order_product.quantity }}</b></span>

            {% endif %}
        {% endfor %}
    </div>
  </div>

    <div class="client-details-container">
    <div class="client-details-title">
        Company From Invoice Details

        <div class="client-right">
        <a href="{% url 'companies_update_view' pk=invoice.company.id %}" class="btn-edit">
          <i data-lucide="edit-3"></i> Edit
        </a>
        <a href="{% url 'companies_delete_view' pk=invoice.company.id %}" class="btn-delete">
          <i data-lucide="trash-2"></i> Delete
        </a>
      </div>

    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">EIK</span>
      <span class="client-detail-value">{{ invoice.company.eik }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">DDS</span>
      <span class="client-detail-value">{{ invoice.company.dds }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Name</span>
      <span class="client-detail-value">{{ invoice.company.name }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Address</span>
      <span class="client-detail-value">{{ invoice.company.address }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Mol</span>
      <span class="client-detail-value">{{ invoice.company.mol }}</span>
    </div>

    <div class="client-detail-row">
      <span class="client-detail-label">Recipient</span>
      <span class="client-detail-value">{{ invoice.company.recipient }}</span>
    </div>

  </div>
</div>
{% endif %}
</body>
</html>

<script>
  lucide.createIcons();
</script>