{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'clients_page/clients.css' %}">
    <link rel="stylesheet" href="{% static 'lucide_icons.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Clients View</title>
</head>
<body>
    {% if user_authenticated %}
<div class="sidebar">
  <div class="sidebar-logo">Technocenter OOD</div>
  <div class="top-and-bottom-navigations">
      <nav class="sidebar-menu">
        <a class="sidebar-link" href="{% url 'index' %}"><i data-lucide="home" class="icon"></i> Home</a>
        <a class="sidebar-link" href="{% url 'orders_view' %}"><i data-lucide="clipboard-list" class="icon"></i> Orders</a>
        <a class="sidebar-link" href="{% url 'products_view' %}"><i data-lucide="package" class="icon"></i>Products</a>
        <a class="sidebar-link" href="{% url 'employees_view' %}"><i data-lucide="users" class="icon"></i>Employees</a>
        <a class="sidebar-link active" href="{% url 'clients_view' %}"><i data-lucide="user" class="icon"></i>Clients</a>
        <a class="sidebar-link" href="{% url 'shippers_view' %}"><i data-lucide="truck" class="icon"></i>Shippers</a>
        <a class="sidebar-link" href="{% url 'vendors_view' %}"><i data-lucide="briefcase" class="icon"></i>Vendors</a>
        <a class="sidebar-link" href="{% url 'companies_view' %}"><i data-lucide="building-2" class="icon"></i>Companies</a>
        <a class="sidebar-link" href="{% url 'invoices_view' %}"><i data-lucide="file-text" class="icon"></i>Invoices</a>
      </nav>

      <div class="sidebar-nav-bottom">
        <a class="sidebar-link" href="{% url 'profile_details' %}"><i data-lucide="user-circle" class="icon"></i>Profile</a>
        <a class="sidebar-link" href="{% url 'logout' %}"><i data-lucide="log-out" class="icon"></i>Log out</a>
      </div>
    </div>

</div>
        <div class="main-container">
        <div class="first-container">
        <form>
            <input type = "text" name = "q" placeholder = "Search by name or phone number" value = "{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>
        
        <a href="{% url 'clients_create_view' %}" class="create-btn">Create Client</a>
        </div>
        
        <div class="client-header-row">
  <div class="client-left">Client</div>

  <div class="client-right">Actions</div>
</div>

<div class="client-row-list">
  {% for client in clients %}
    <div class="client-row" onclick="window.location.href='{% url 'clients_details_view' pk=client.id %}'">
      <div class="client-left">
        <div class="client-info">
          <h3 class="client-name">{{ client.first_name }} {{ client.last_name }}</h3>
          <p class="client-id">#{{ client.id }}</p>
        </div>
      </div>


      <div class="client-right">
        <a href="{% url 'clients_update_view' pk=client.id %}" class="btn-edit">
          <i data-lucide="edit-3"></i> Edit
        </a>
        <a href="{% url 'clients_delete_view' pk=client.id %}" class="btn-delete">
          <i data-lucide="trash-2"></i> Delete
        </a>
      </div>
    </div>

  {% endfor %}
</div>
</div>
    {% endif %}

</body>
</html>

<script>
  lucide.createIcons();
</script>